<div class="col-12 ">
<button *ngIf="authService.hasRole('ADMIN')" routerLink ="/add" class="btn btn-success btn-sm">
  Add Book
</button>
</div>
<div class="container mt-4">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Book Name</th>
      <th>Category</th>
      <th>Release Date</th>
      <th>Available Copies</th>
      <th>Average Rating</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.bookName }}</td>
      <td>{{ book.categoryName }}</td>
      <td>{{ book.releaseDate }}</td>
      <td>{{ book.booksAvailable }}</td>
      <td>{{ book.averageRating }}</td>
      <td>
        <!-- Example actions you might want to include -->
        <button  *ngIf="authService.hasRole('ADMIN')" (click)="editBook(book.bookId)"  class="btn btn-primary btn-sm">Edit</button>
        <button *ngIf="authService.hasRole('ADMIN')" (click)="deleteBookById(book.bookId)" class="btn btn-danger btn-sm">Delete</button>
        <button (click)="getBookById(book.bookId)" class="btn btn-success btn-sm">View Details</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
